
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.cabecalho {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    z-index: 1000;
    background-color: black;
    color: white;
}

.cabecalho h1 {
    margin: 0;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    text-align: left;
}

.nav-ico {
    width: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nav-ico.active {
    margin-right: 140px;
}

.nav-ico span {
    width: 30px;
    display: block;
    height: 2px;
    margin: 4px 0;
    background: #fff;
    transition: 0.3s ease-in-out;
}

.nav-ico span:first-child {
    width: 70%;
    margin: 0 15%;
}

.nav-ico span:last-child {
    width: 70%;
    margin: 0 15%;
}

.nav-ico.active span:first-child {
    transform: rotate(45deg);
    transform-origin: 10px 2px 0;
    width: 100%;
    margin: 0;
}

.nav-ico.active span:nth-child(2) {
    opacity: 0;
}

.nav-ico.active span:last-child {
    transform: rotate(-45deg);
    transform-origin: 5px -2px 0;
    width: 100%;
    margin: 0;
}

.nav-overlay {
    position: fixed;
    z-index: 988;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background: transparent;
}

.nav-overlay.active {
    background: rgba(0, 0, 0, 0.7);
    pointer-events:initial;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 260px;
    padding-top: 100px;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 999;
}

.nav-menu.active {
    transform: translateX(0%);
}

.nav-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu ul li {
    margin: 0;
}

.nav-menu ul li a{
    display: block;
    color: white;
    padding: 15px 30px;
    text-align: center;
    background-color: black;
    transition: all 0.3s ease-in-out;
    border-top: 0.5px solid white;
    text-decoration: none;
}

.nav-menu ul li a:hover {
    font-weight: bold;
}

.nav-menu .nav-submenu ul {
    display: none;
}

.nav-menu .nav-submenu ul.active {
    display: block;
}

.nav-menu .nav-submenu ul li {
    text-align: left;
    width: 100%;
    margin: 0;
    font-weight: lighter;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.nav-menu .nav-submenu ul li a {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.nav-menu .nav-submenu ul li a::before {
    content: " » ";
}

.nav-menu .nav-submenu ul li a:hover {
    font-weight: bold;
}